/* Container & Heading */
.heading {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
  color: #d97706;
}

/* Inputs */
.input-text {
  width: 100%;
  padding: 10px 16px;
  border: 2px solid #d97706;
  border-radius: 6px;
  outline: none;
  margin-bottom: 12px;
}

.input-text:focus {
  border-color: #d97706;
  box-shadow: 0 0 3px #d97706;
}

.input-file {
  display: block;
  padding: 8px;
  border: 2px solid #d97706;
  border-radius: 6px;
  outline: none;
  margin-bottom: 12px;
}

.input-file:focus {
  border-color: #d97706;
  box-shadow: 0 0 3px #d97706;
}

/* Image Preview */
.preview-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #d97706;
  margin-bottom: 16px;
}

/* Buttons */
.btn-group {
  gap: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  transition: background-color 0.3s;
}

.btn.primary {
  background-color: #d97706;
}

.btn.primary:hover {
  background-color: #b45309;
}

.btn.danger {
  background-color: #d97706;
}

.btn.danger:hover {
  background-color: #b45309;
}

.nav {
  gap: 80px;
  margin: 40px 0;
}

.tab-btn {
  padding: 12px 24px;
  border: 2px solid #d97706;
  /* amber-600 */
  border-radius: 8px;
  font-size: 18px;
  background-color: transparent;
  color: #000;
  transition: all 0.3s ease;
  font-weight: 500;
}

.tab-btn:hover {
  background-color: #d97706;
  color: #fff;
}

.tab-btn.active {
  background-color: #d97706;
  color: #fff;
}

/* Loading */
.loading-text {
  width: 100%;
  height: 100vh;
  font-size: 28px;
  font-weight: 500;
}

/* Page Title */
.page-title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #d97706;
  /* amber-600 */
  margin-bottom: 40px;
}

/* No Data Message */
.no-data {
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
  font-weight: 600;
}

/* Image Grid */
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Image Card */
.image-card {
  border: 2px solid #d97706;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Image Info */
.image-id,
.image-name {
  display: block;
  font-weight: 600;
  margin-bottom: 4px;
}

/* Preview Image */
.image-preview {
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 16px;
}

/* Delete Button */
.delete-btn {
  display: inline-block;
  padding: 8px 28px;
  margin-top: 20px;
  border: 2px solid #d97706;
  background-color: transparent;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;

  transition: all 0.3s ease;
}

.delete-btn:hover {
  background-color: #d97706;
  color: white;
}

/* Heading */
.product-heading {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #d97706;
  /* amber-600 */
  margin-bottom: 40px;
}

/* Form Container */
.product-form {
  gap: 24px;
}

/* Input Fields */
.input-field {
  width: 50%;
  padding: 10px 20px;
  font-size: 18px;
  border: 2px solid #d97706;
  border-radius: 4px;
  outline: none;
}

.input-field:focus {
  border-color: #d97706;
  box-shadow: 0 0 4px #d97706;
}

/* Button */
.submit-btn {
  margin-top: 20px;
  border: 2px solid #d97706;
  background-color: transparent;
  padding: 14px 0;
  font-size: 18px;

  border-radius: 4px;
  transition: all 0.3s ease;
  width: 180px;
  margin: 0 auto;
}

.submit-btn:hover {
  background-color: #d97706;
  color: #fff;
}
