.heading {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
  color: #d97706;
}

.input-text,
.input-file {
  font-size: 18px;
  width: 100%;
  padding: 10px 16px;
  border: 2px solid #d97706;
  border-radius: 6px;
  outline: none;
  margin: 12px auto;
  width: 60%;
}
.preview-image {
  height: 150px;
  border-radius: 6px;
  border: 1px solid #d97706;
  margin-bottom: 16px;
}

.btn-group {
  gap: 20px;
  margin: 10px 0px 30px;
}
.nav {
  gap: 20px;
  margin: 40px 0;
  flex-wrap: wrap;
}
.tab-btn {
  width: 270px;
  justify-content: center;
}
.tab-btn {
  padding: 12px 24px;
  border: 2px solid #d97706;
  border-radius: 8px;
  font-size: 18px;
  background-color: transparent;
  color: #000;
  transition: all 0.3s ease;
  font-weight: 500;
}

.tab-btn:hover {
  background-color: #d97706;
  color: #fff;
}

.tab-btn.active {
  background-color: #d97706;
  color: #fff;
}

.loading-text {
  width: 100%;
  height: 100vh;
  font-size: 28px;
  font-weight: 500;
}

.page-title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #d97706;
  margin-bottom: 40px;
}

.no-data {
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
  font-weight: 600;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  gap: 20px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.image-card {
  border: 2px solid #d97706;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-id,
.image-name {
  display: block;
  font-weight: 600;
  margin-bottom: 4px;
}

.image-preview {
  width: 100%;
  height: 75px;
  object-fit: contain;
  border-radius: 6px;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
  margin-top: 16px;
}

.delete-btn {
  display: inline-block;
  padding: 8px 28px;
  margin-top: 20px;
  border: 2px solid #d97706;
  background-color: transparent;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;

  transition: all 0.3s ease;
}

.delete-btn:hover {
  background-color: #d97706;
  color: white;
}

.product-heading {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #d97706;
  margin-bottom: 40px;
}

.product-form {
  gap: 24px;
  padding: 0px 0px 30px;
}

.input-field {
  width: 50%;
  padding: 10px 20px;
  font-size: 18px;
  border: 2px solid #d97706;
  border-radius: 4px;
  outline: none;
}

.submit-btn {
  border: 2px solid #d97706;
  background-color: transparent;
  padding: 14px 0;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  transition: all 0.3s ease;
  width: 180px;
}

.submit-btn:hover {
  background-color: #d97706;
  color: #fff;
}
.All-Products {
  margin-bottom: 40px;
}
.Product-name {
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0px 5px 0px;
}
.Product-price {
  font-size: 16px;
}
.Dlt-Btn {
  font-size: 28px;
  background: transparent;
  padding: 5px;
  border: none;
}
/* MEDIA QUERY */
@media (max-width: 993px) {
  .tab-btn {
    padding: 12px;
  }
  .input-field {
    width: 100%;
  }
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 567px) {
  .tab-btn {
    justify-content: center;
  }
  .nav {
    flex-direction: column;
    gap: 10px;
  }
  .card {
    margin-bottom: 20px;
  }
  .image-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.img-box:hover .hover-img {
  opacity: 1 !important;
}
